
  <div class="container mt-2">

     <div class="row">
          <div class="col-8">
              <a class="btn btn-sm btn-success" href="/add">Add Record</a>
          </div>
     </div>

    <table class="table table-hover mt-2">
      <thead>
        <tr>
          <th scope="col">Roll</th>
          <th scope="col">Name</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Score</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% student.forEach(element =>{ %>
        <tr>
          <td scope="row"><%- element.Roll %></td>
          <td><%- element.Name %></td>
          <td><%- element.Dob %></td>
          <td><%- element.Score %></td>
          <td><a href="/edit/<%= element._id %> "><img style="margin: 0px 5px;" src="https://img.icons8.com/material-outlined/30/000000/edit.png"/></a></td>
          <td><a href="/delete/<%= element._id %> "><img style="margin: 0px 5px;" src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/></a></td>
        </tr>
        <%}) %>
      </tbody>
    </table>
</div>
